<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eleven.mapper.CheckMapper">
    <resultMap id="checkMap" type="check">
        <id column="check_id" property="checkId"></id>
        <result column="check_name" property="checkName"></result>
        <result column="check_price" property="checkPrice"></result>
        <result column="check_parent_id" property="checkParentId"></result>
    </resultMap>

    <select id="findAllCheck" resultMap="checkMap">
        SELECT * FROM `check`
    </select>

    <select id="findCheckById" resultMap="checkMap">
        SELECT * FROM `check` WHERE check_id=#{checkId}
    </select>

    <select id="findCheckByParentId" resultMap="checkMap">
        SELECT * FROM `check` WHERE check_parent_id=#{checkParentId}
    </select>
</mapper>